.global-messages-container {
  position: relative;

  .global-messages {
    position: relative;
    z-index: 1005;
    width: 600px;

    &.stub {
      position: relative !important;
      opacity: 0;
      top: auto !important;
    }

    &.fixed {
      position: fixed;
      top: 0;
    }

    .loading-global {
      display: none;
      color: black;
      text-align: center;
      font-weight: bold;
      height: 20px;
      background: #f0ad4e linear-gradient(-45deg,
        #222 25%,
        transparent 25%,
        transparent 50%,
        #222 50%,
        #222 75%,
        transparent 75%,
        transparent
      );
      background-size: 40px 40px;
      text-shadow: -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 1px 1px 0 #fff;
      text-transform: uppercase;
    }

    .message {
      height: 0;
      color: white;
      text-align: center;
      text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
      &.visible {
        height: 20px;
      }
    }

    .success {
      background-color: #5cb85c;
    }

    .error {
      background-color: #d9534f;
    }

    .info {
      background-color: #5bc0de;
    }

    .warning {
      background-color: #f0ad4e;
    }
  }
}

.mobile {
  .global-messages {
    position: fixed;
    top: auto;
    width: 100%;
    &.fixed {
      top: auto;
    }
    .stub {
      display: none;
    }
  }
}
